/* Colors variables--------------------------------------------------------------------------*/

:root {
    --blue : #0065FC;
    --lightBlue : #DEEBFF;
    --grey : #F2F2F2;
}

/* Base ---------------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: x-small;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 30px 0 30px;
    padding: 0px;
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: small;
    font-weight: bold;
}

/* links -------------------------------------------------------------------------*/
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: var(--blue);
    font-weight: bold;
}

a:visited {
    text-decoration: none;
}

/* header -------------------------------------------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0 15px;
    padding: 20px;
}

nav {
    margin: 0;
    padding-top: 15px;
}

.navigationLinks {
    margin-right: 20px;
}

.navigationLinks:hover {
    color: var(--blue);
    font-weight: bold;
    border-top: 3px solid var(--blue);
}

#lodgingLink {
    color: var(--blue);
    border-top: 3px solid var(--blue);
    padding: 33px 10px 0px 10px;
}

#activitiesLink {
    padding: 33px 25px 0px 25px;
}

#register {
    color: var(--blue);
    font-weight: bold;
    padding: 10px;
}

#register:hover {
    background-color: var(--blue);
    color: white;
    border-radius: 50px
}

/* Section 1 Research --------------------------------------------------------------*/

#locationResearch {
    display: flex;
    margin-top: 20px;
}

#locationIcon {
    border-radius: 10px 0 0 10px;
    background-color: var(--grey);
    width: 30px;
    padding: 10px;
}

#researchBar {
    border: 1px solid var(--grey);
    padding: 0 0 0 10px;
}

::placeholder {
    color: black;
    font-weight: bold;
}

::-moz-placeholder {
    opacity: 1;
}

#researchButton {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    padding: 10px;
}

/* Section 1 Filters --------------------------------------------------------------*/

#filters {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    margin: 10px 0 20px 0;
}

#filtersTitle {
    padding-top: 20px;
}

.filterButtonLabel {
    border: 3px solid var(--grey);
    background-color: white;
    font-size: small;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 10px 5px 35px;
    line-height: 0.5em;
    text-align: center;
}

.filterButtonLabel:hover {
    border: 3px solid var(--blue);
    background-color: var(--blue);
    color: white;

}

.filterIcon {
    background-color: var(--lightBlue);
    border-radius: 50%;
    padding: 8px;
    width: 31px;
    height: 31px;
    position: relative;
    left: 29px;
    top: 11px;
}

#infoIcon {
    color: var(--blue);
    border: solid var(--grey);
    border-radius: 50%;
    padding: 1px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

/* Section 2 Results --------------------------------------------------------------*/

#results {
    display: flex;
}

#mainResults {
    background-color: var(--grey);
    border-radius: 10px;
    width: 70%;
    padding: 15px;
}

#lodgingAncre {
    padding-left: 12px;
}

#resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resultExemple {
    background-color: white;
    width: 30%;
    border-radius: 10px;
    box-shadow: 3px 3px 6px lightGrey;
    margin: 10px;
    padding: 0;
}

#mainResults figure {
    width: 95%;
    margin: 1%;
}

.resultPhoto {
    border-radius: 10px 10px 0 0;
    margin: 3px 3px 0 3px;
    height: 80px;
    width: 100%;
    object-fit: cover;
}

#mainResults figcaption {
    line-height: 1em;
    padding-left: 6px;
}

.rating {
    display: flex;
}

.rating img {
    height: 10px;
    width: auto;
}

#moreResults {
    margin: 50px 0 50px 12px;
    font-size: small;
    font-weight: bold;
    line-height: 4em;
}

/* Section 2 Top Results --------------------------------------------------------------*/

#resultsTop {
    background-color: var(--grey);
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding: 15px;
}

#titleResultsTop {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

#iconTop {
    height: 15px;
    width: auto;
    padding: 0 5px 0 5px;
}

.exempleResultsTop {
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 6px lightGrey;
    margin: 10px;
}

.exempleResultsTop figure {
    margin: 6px;
}

.resultsTopPhoto {
    float: left;
    border-radius: 10px 0 0 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0;
    position: relative;
    bottom: 6px;
}

.exempleResultsTop figcaption {
    line-height: 1.5em;
    padding-left: 48%;
    margin: 0;
}



/* Section 3 Activities --------------------------------------------------------------*/

#activities {
    margin: 30px 0 30px 0;
}

#Activitiescontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activityBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
}

.activityExemple {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px lightGrey;
}

.activityExemple figure {
    margin: 0;
}

.activityExemplePhoto {
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.activityExemple h2 {
    padding: 0 0 15px 10px;
}

#activityBox1 .activityExemple {
    height: 300px;
}

#activityBox1 .activityExemplePhoto {
    height: 260px;
}

#activityBox2 #activityPomegues {
    height: 160px;
}

#activityBox2 #activityPomegues .activityExemplePhoto {
    height: 120px;
}

#activityBox2 #activityFrioul {
    height: 105px;
}

#activityBox2 #activityFrioul .activityExemplePhoto {
    height: 65px;
}

#activityBox3 .activityExemple {
    height: 300px;
}

#activityBox3 .activityExemplePhoto {
    height: 260px;
}

#activityBox4 .activityExemple {
    height: 135px;
}

#activityBox4 .activityExemplePhoto {
    height: 95px;
}

/* Footer -------------------------------------------------------------------------*/

footer {
    background-color: var(--grey);
    display: flex;
    padding-bottom: 10px;
}

footer div {
    margin-right: 15%;
}

footer h3 {
    padding-left: 40px;
}

li {
    list-style: none;
}
