/* Colors variables--------------------------------------------------------------------------*/
:root {
    --blue: #0065fc;
    --lightBlue: #deebff;
    --grey: #f2f2f2;
}

/* Base ---------------------------------------------------------------------------*/
* {
    box-sizing: border-box !important;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 2rem 0 2rem;
    padding: 0px;
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 0.8rem;
    font-weight: bold;
}

/* links -------------------------------------------------------------------------*/
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--blue);
    font-weight: bold;
}

a:visited {
    text-decoration: none;
}

/* header -------------------------------------------------------------------------*/
#header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    padding: 1rem;
}

#headerMobileVersion {
    display: none;
}

#navigationBar {
    margin: 0;
    padding-top: 1rem;
}

.navigationLinks {
    margin-right: 2rem;
}

.navigationLinks:hover {
    color: var(--blue);
    font-weight: bold;
    border-top: 0.1rem solid var(--blue);
}

#lodgingLink {
    color: var(--blue);
    border-top: 0.1rem solid var(--blue);
    padding: 1.8rem 1rem 0 1rem;
}

#activitiesLink {
    padding: 1.8rem 1rem 0 1rem;
}

#register {
    color: var(--blue);
    font-weight: bold;
    padding: 1rem;
}

#register:hover {
    background-color: var(--lightBlue);
    border-radius: 10rem;
}

/* Section 1 - part 1 : Research -----------------------------------------------------------*/
#research {
    margin: 0;
}

#locationResearch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
}

#locationIcon {
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: var(--grey);
    width: 2.5rem;
    padding: 0.9rem;
}

#researchBar {
    height: 3rem;
    border: 0.05rem solid var(--grey);
    padding: 0 0 0 0.5rem;
}

::-moz-placeholder {
    color: black;
    font-weight: bold;
}

:-ms-input-placeholder {
    color: black;
    font-weight: bold;
}

::placeholder {
    color: black;
    font-weight: bold;
}

::-moz-placeholder {
    opacity: 1;
}

#researchButton {
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}

#locationResearchMobile {
    display: none;
}

/* Section 1 - part 2 : Filters ---------------------------------------------------------*/
#filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
}

#filtersTitle {
    padding-top: 1rem;
}

#filtersList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filterButtonLabel {
    border: 0.13rem solid var(--grey);
    background-color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 5rem;
    padding: 0.3rem 0.5rem 0.3rem 2rem;
    line-height: 0.5em;
    text-align: center;
}

.filterButtonLabel:hover {
    border: 0.13rem solid var(--blue);
    background-color: var(--blue);
    color: white;
}

.filterIcon {
    background-color: var(--lightBlue);
    border-radius: 50%;
    padding: 0.6rem;
    width: 1.9rem;
    height: 1.9rem;
    position: relative;
    left: 1.8rem;
    top: 0.68rem;
}

#infoText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#infoIcon {
    color: var(--blue);
    border: solid var(--grey);
    border-radius: 50%;
    padding: 0.05rem;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    position: relative;
    top: 0;
}

/* Section 2 - part 1 : Results -----------------------------------------------------------*/
#results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#mainResults {
    background-color: var(--grey);
    border-radius: 0.5rem;
    width: 70%;
    padding: 0.8rem;
}

#lodgingAncre {
    padding-left: 0.6rem;
}

#resultsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resultExemple {
    background-color: white;
    width: 30%;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0.3rem 0.3rem 0.6rem lightGrey;
    box-shadow: 0.3rem 0.3rem 0.6rem lightGrey;
    margin: 0.5rem;
    padding: 0;
}

#mainResults figure {
    width: auto;
    margin: 0.01rem;
}

.resultPhoto {
    border-radius: 0.5rem 0.5rem 0 0;
    margin: 2% 2% 0 2%;
    height: 5rem;
    width: 96%;
    -o-object-fit: cover;
    object-fit: cover;
}

#mainResults figcaption {
    line-height: 1.5em;
    padding-left: 0.4rem;
}

.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.rating img {
    height: 0.6rem;
    width: auto;
}

#moreResults {
    margin: 2.5rem 0 2.5rem 0.6rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 4em;
}

/* Section 2 - part 2 : Top Results --------------------------------------------------------*/
#resultsTop {
    background-color: var(--grey);
    border-radius: 0.5rem;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-left: 0.6rem;
    padding: 0.6rem;
}

#titleResultsTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 0 0.6rem 0 0.6rem;
}

#iconTop {
    height: 0.8rem;
    width: auto;
    padding: 0 0.6rem 0 0.6rem;
    margin-top: 0.7rem;
}

.exempleResultsTop {
    border-radius: 0.5rem;
    background-color: white;
    -webkit-box-shadow: 0.3rem 0.3rem 0.6rem lightGrey;
    box-shadow: 0.3rem 0.3rem 0.6rem lightGrey;
    margin: 0.6rem;
}

.exempleResultsTop figure {
    margin: 2%;
}

.resultsTopPhoto {
    float: left;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 40%;
    height: 6.6rem;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
    position: relative;
    bottom: 0.34rem;
}

.exempleResultsTop figcaption {
    line-height: 1.5em;
    padding-left: 43%;
    margin: 0;
}

/* Section 3 : Activities --------------------------------------------------------------*/
#activities {
    margin: 1rem 0 1rem 0;
}

#Activitiescontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activityBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 13rem;
}

.activityExemple {
    background-color: white;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0.3rem 0.3rem 0.6rem lightGrey;
    box-shadow: 0.3rem 0.3rem 0.6rem lightGrey;
}

.activityExemple figure {
    margin: 0;
}

.activityExemplePhoto {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.activityExemple h2 {
    padding: 0 0 0.5rem 0.5rem;
}

#activityBox1 .activityExemple {
    height: 19rem;
}

#activityBox1 .activityExemplePhoto {
    height: 16.5rem;
}

#activityBox2 {
    margin: 0 0.6rem 0 0.6rem;
}

#activityBox2 #activityPomegues {
    height: 10rem;
    margin: 0 0 0.6rem 0;
}

#activityBox2 #activityPomegues .activityExemplePhoto {
    height: 7.5rem;
}

#activityBox2 #activityFrioul {
    height: 6.5rem;
}

#activityBox2 #activityFrioul .activityExemplePhoto {
    height: 4rem;
}

#activityBox3 .activityExemple {
    height: 19rem;
    margin: 0 0.6rem 0 0;
}

#activityBox3 .activityExemplePhoto {
    height: 16.5rem;
}

#activityBox4 .activityExemple {
    height: 8.3rem;
}

#activityBox4 .activityExemplePhoto {
    height: 5.8rem;
}

#activityGarde {
    margin: 0 0 0.6rem 0;
}

/* Footer -------------------------------------------------------------------------*/
footer {
    background-color: var(--grey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
}

footer div {
    margin-right: 15%;
}

footer h3 {
    padding-left: 40px;
}

li {
    list-style: none;
    margin: 0 0 0.5rem 0;
}

/*--*/
/*--*/
/*--*/
/* RESPONSIVE -------------------------------------------------------------------------*/
/*--*/
/*--*/
/*--*/

/* Big screens and tv--------------------------------------------------------------*/

@media all and (min-width: 1199px) {
    body {
        max-width: 1024px;
        margin: auto;
    }
}

/* tablet ? seems ok to me but if not : @media all and (min-width: 768px) and (max-width: 991px) {} ------------*/
/* Mobile Version -------------------------------------------------------------------*/

@media all and (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    main {
        margin: 0 0 0 0;
        padding: 0px;
    }

    h1 {
        font-weight: bold;
    }

    h2 {
        font-size: 1rem;
        font-weight: bold;
    }

    /* Mobile Version - header -------------------------------------------------------*/
    #header {
        display: none;
    }

    #headerMobileVersion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 0;
        padding: 0;
    }

    #headerMobileVersion #headerLogo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    #headerMobileVersion #register {
        color: var(--blue);
        font-weight: bold;
        padding: 1rem;
        margin: 0 0 0 1.5rem;
    }

    #headerMobileVersion #register:hover {
        background-color: var(--lightBlue);
        border-radius: 10rem;
    }

    #headerMobileVersion #navigationBar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
    }

    #headerMobileVersion .navigationLinks {}

    #headerMobileVersion .navigationLinks:hover {
        color: var(--blue);
        font-weight: bold;
        border-top: none;
        border-bottom: 0.2rem solid var(--blue);
    }

    #headerMobileVersion #lodgingLink {
        width: 50%;
        color: var(--blue);
        border-top: none;
        border-bottom: 0.2rem solid var(--blue);
        padding: 0 0 0.5rem 0;
        margin: 0;
        text-align: center;
    }

    #headerMobileVersion #activitiesLink {
        width: 50%;
        border-top: none;
        border-bottom: 0.2rem solid var(--grey);
        padding: 0 0 0.5rem 0;
        margin: 0;
        text-align: center;
    }

    /* Mobile Version - Section 1 - part 1 : Research --------------------------------*/
    #research {
        margin: 2rem 1rem 0 1rem;
    }

    #locationResearch {
        display: none;
    }

    #locationResearchMobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem 0 0.5rem 0;
    }

    #locationResearchMobile #researchBar {
        height: 3.3rem;
        width: 100%;
        border: 0.05rem solid var(--grey);
        padding: 0 1rem 0 1rem;
    }

    #researchButtonMobile {
        border: none;
        border-radius: 1rem;
        background-color: var(--blue);
        padding: 1rem;
        width: 3rem;
        position: relative;
        right: 0.7rem;
    }

    /* Mobile Version - Section 1 - part 2 : Filters -------------------------------------*/
    #filters {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 2rem 0;
    }

    #filtersTitle {
        padding: 1rem 0 0 0;
    }

    #filtersList {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

    .filterButton {
        margin: 0 0 0.6rem 0;
    }

    .filterButtonLabel {
        border: 0.15rem solid var(--grey);
        background-color: white;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5rem;
        padding: 0.5rem 0.7rem 0.5rem 2.4rem;
        line-height: 1em;
        text-align: center;
        position: relative;
        right: 2rem;
        z-index: -1;
    }

    .filterButtonLabel:hover {
        border: 0.13rem solid var(--blue);
        background-color: var(--blue);
        color: white;
    }

    .filterIcon {
        background-color: var(--lightBlue);
        border-radius: 50%;
        padding: 0.8rem;
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        left: 0rem;
        top: 0.9rem;
    }

    #infoIcon {
        color: var(--blue);
        border: solid var(--grey);
        border-radius: 50%;
        padding: 0.3rem;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.4rem;
        position: relative;
        top: 0;
    }

    /* Mobile Version - Section 2 - part 1 : Top Results ------------------------------*/
    #results {
        flex-direction: column-reverse;
    }

    #resultsTop {
        background-color: var(--grey);
        border-radius: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0.6rem;
        margin-left: 0;
    }

    #iconTop {
        height: 1.5rem;
        width: auto;
        padding: 0 0.6rem 0 0.6rem;
        margin-top: 1rem;
    }

    .exempleResultsTop figure {
        margin: 2%;
    }

    .resultsTopPhoto {
        float: left;
        border-radius: 0.5rem 0 0 0.5rem;
        width: 30%;
        height: 6.6rem;
        -o-object-fit: cover;
        object-fit: cover;
        margin: 0;
        position: relative;
        bottom: 0.34rem;
    }

    .exempleResultsTop figcaption {
        line-height: 1.5em;
        padding-left: 33%;
        margin: 0;
    }

    /* Mobile Version -Section 2 - part 2 : Results ----------------------------------*/
    #mainResults {
        background-color: white;
        border-radius: 0;
        width: 100%;
        padding: 0.6rem;
    }

    .resultExemple {
        background-color: white;
        width: 100%;
        border-radius: 0.5rem;
        -webkit-box-shadow: 0.3rem 0.3rem 0.6rem lightGrey;
        box-shadow: 0.3rem 0.3rem 0.6rem lightGrey;
        margin: 0.5rem;
        padding: 0;
    }

    .resultPhoto {
        border-radius: 0.5rem 0.5rem 0 0;
        margin: 2% 2% 0 2%;
        height: 8rem;
        width: 96%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    #moreResults {
        margin: 0 0 0 0.6rem;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 4em;
    }

    /* Mobile Version - Section 3 : Activities ----------------------------------------*/
    #activities {
        margin: 1rem 1rem 1rem 1rem;
    }

    #activities h1 {
        margin: 0 0 1.5rem 0;
    }

    #Activitiescontainer {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .activityBox {
        flex-direction: column;
        width: 100%;
        height: 10rem;
        margin: 0 0 0.6rem 0;
    }

    .activityExemplePhoto {
        height: 7.5rem;
    }

    #activityBox1 .activityExemple {
        height: 10rem;
    }

    #activityBox1 .activityExemplePhoto {
        height: 7.5rem;
    }

    #activityBox2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        height: 20.6rem;
        padding: 0;
        margin: 0 0 0.6rem 0;
    }

    #activityBox2 #activityPomegues {
        height: 10rem;
        margin: 0 0 0.6rem 0;
    }

    #activityBox2 #activityPomegues .activityExemplePhoto {
        height: 7.5rem;
    }

    #activityBox2 #activityFrioul {
        height: 10rem;
    }

    #activityBox2 #activityFrioul .activityExemplePhoto {
        height: 7.5rem;
    }

    #activityBox3 .activityExemple {
        height: 10rem;
        margin: 0 0 0.6rem 0;
    }

    #activityBox3 .activityExemplePhoto {
        height: 7.5rem;
    }

    #activityBox4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        height: 20.6rem;
        margin: 0;
        padding: 0;
    }

    #activityBox4 .activityExemple {
        height: 10rem;
    }

    #activityBox4 .activityExemplePhoto {
        height: 7.5rem;
    }

    #activityGarde {
        margin-bottom: 0.6rem;
    }

    /* Mobile Version - Footer -------------------------------------------------------*/
    footer {
        background-color: var(--grey);
        flex-direction: column;
        padding: 1rem 0 1rem 0;
    }

    footer div {
        margin-right: 0;
    }
}

/* End of Mobile Version --------------------------------------------------------*/
